In [52]:
from article_parser import get_covid_counts

In [24]:
    df = df[df['counts'] != '1300\n\nConfirmed']
    df = df[df['Loc'] != '']

In [41]:
df2.sort_values('date')

,date,Loc,min_,min_confirmed,min_suspected,max_,max_confirmed,max_suspected,mean_,mean_confirmed,mean_suspected,mode_,mode_confirmed,mode_suspected
0,2020-01-21,batangas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"ModeResult(mode=array([0]), count=array([1]))"
12,2020-01-23,aklan,NaN,NaN,3.0,NaN,NaN,3.0,NaN,NaN,3.0,NaN,NaN,"ModeResult(mode=array([3]), count=array([1]))"
1,2020-01-23,cebu,NaN,NaN,NaN,NaN,NaN,555.0,NaN,NaN,185.0,NaN,NaN,"ModeResult(mode=array([0]), count=array([2]))"
2,2020-01-24,cebu,NaN,NaN,14.0,NaN,NaN,14.0,NaN,NaN,14.0,NaN,NaN,"ModeResult(mode=array([14]), count=array([1]))"
18,2020-01-24,iloilo,NaN,NaN,881.0,NaN,NaN,881.0,NaN,NaN,881.0,NaN,NaN,"ModeResult(mode=array([881]), count=array([1]))"
13,2020-01-25,aklan,NaN,NaN,80.0,NaN,NaN,80.0,NaN,NaN,80.0,NaN,NaN,"ModeResult(mode=array([80]), count=array([1]))"
3,2020-01-25,cebu,NaN,NaN,14.0,NaN,NaN,14.0,NaN,NaN,14.0,"ModeResult(mode=array([0]), count=array([1]))",NaN,"ModeResult(mode=array([14]), count=array([1]))"
22,2020-01-27,camiguin,NaN,NaN,106.0,NaN,NaN,106.0,NaN,NaN,106.0,NaN,NaN,"ModeResult(mode=array([106]), count=array([1]))"
4,2020-01-27,cebu,4.0,NaN,14.0,11.0,NaN,14.0,8.666667,NaN,14.0,"ModeResult(mode=array([11]), count=array([2]))",NaN,"ModeResult(mode=array([14]), count=array([1]))"
5,2020-01-28,cebu,4.0,NaN,14.0,24.0,NaN,14.0,8.000000,NaN,14.0,"ModeResult(mode=array([0]), count=array([2]))",NaN,"ModeResult(mode=array([14]), count=array([1]))"
14,2020-01-28,aklan,NaN,NaN,11.0,NaN,NaN,11.0,NaN,NaN,11.0,NaN,NaN,"ModeResult(mode=array([11]), count=array([1]))"
6,2020-01-30,cebu,4.0,1.0,14.0,24.0,1.0,14.0,8.000000,1.0,14.0,"ModeResult(mode=array([0]), count=array([2]))","ModeResult(mode=array([1]), count=array([1]))","ModeResult(mode=array([0]), count=array([2]))"
15,2020-01-30,aklan,NaN,1.0,11.0,NaN,1.0,11.0,NaN,1.0,11.0,NaN,"ModeResult(mode=array([1]), count=array([1]))","ModeResult(mode=array([11]), count=array([1]))"
16,2020-01-31,aklan,NaN,1.0,11.0,NaN,1.0,11.0,NaN,1.0,11.0,NaN,"ModeResult(mode=array([1]), count=array([1]))","ModeResult(mode=array([0]), count=array([1]))"
19,2020-01-31,iloilo,NaN,NaN,881.0,NaN,NaN,881.0,NaN,NaN,881.0,"ModeResult(mode=array([0]), count=array([2]))",NaN,"ModeResult(mode=array([881]), count=array([1]))"
7,2020-01-31,cebu,4.0,1.0,100.0,24.0,1.0,100.0,8.000000,1.0,100.0,"ModeResult(mode=array([0]), count=array([1]))","ModeResult(mode=array([1]), count=array([4]))","ModeResult(mode=array([100]), count=array([1]))"
23,2020-01-31,laguna,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,"ModeResult(mode=array([1]), count=array([1]))",NaN
24,2020-01-31,benguet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"ModeResult(mode=array([0]), count=array([1]))",NaN,NaN
25,2020-01-31,bohol,9700.0,NaN,NaN,9700.0,NaN,NaN,9700.000000,NaN,NaN,"ModeResult(mode=array([9700]), count=array([1]))",NaN,NaN
17,2020-02-01,aklan,11.0,1.0,11.0,11.0,1.0,11.0,11.000000,1.0,11.0,"ModeResult(mode=array([11]), count=array([1]))","ModeResult(mode=array([1]), count=array([1]))","ModeResult(mode=array([0]), count=array([1]))"
8,2020-02-01,cebu,4.0,1.0,100.0,24.0,1.0,100.0,8.000000,1.0,100.0,"ModeResult(mode=array([0]), count=array([4]))","ModeResult(mode=array([1]), count=array([4]))","ModeResult(mode=array([0]), count=array([1]))"
9,2020-02-02,cebu,4.0,1.0,100.0,24.0,1.0,100.0,8.000000,1.0,100.0,"ModeResult(mode=array([0]), count=array([4]))","ModeResult(mode=array([1]), count=array([2]))","ModeResult(mode=array([0]), count=array([1]))"
10,2020-02-04,cebu,4.0,1.0,100.0,24.0,1.0,100.0,8.000000,1.0,100.0,"ModeResult(mode=array([0]), count=array([1]))","ModeResult(mode=array([1]), count=array([1]))","ModeResult(mode=array([0]), count=array([1]))"
20,2020-02-04,iloilo,NaN,NaN,881.0,NaN,NaN,881.0,NaN,NaN,881.0,"ModeResult(mode=array([0]), count=array([1]))",NaN,"ModeResult(mode=array([881]), count=array([1]))"
11,2020-02-05,cebu,4.0,1.0,3.0,24.0,1.0,3.0,8.000000,1.0,3.0,"ModeResult(mode=array([0]), count=array([1]))","ModeResult(mode=array([1]), count=array([2]))","ModeResult(mode=array([3]), count=array([1]))"
21,2020-02-05,iloilo,NaN,NaN,881.0,NaN,NaN,881.0,NaN,NaN,881.0,"ModeResult(mode=array([0]), count=array([1]))",NaN,"ModeResult(mode=array([881]), count=array([1]))"